<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>This example shows how to create a Grid from Array data.</title>
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.energyblue.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foundation.css"/>
    <script type="text/javascript" src="/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxInput.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            $.get("/index?action=queryProjects", function(data) {


                //console.log(data);
                var names = [];
                var len = data.length;
                var group_name = new Set();
                for (var i = 0; i < len; ++i) {
                    data[i].Date_Val = new Date(data[i].Date);
                    data[i].IOS_val = (data[i].IOS == '1')? '√': '×';
                    data[i].Android_val = (data[i].Android == '1')? '√': '×';
                    data[i].Server_val = (data[i].Server == '1')? '√': '×';
                    data[i].Color_val = (data[i].Color == 2)? 'blue':(data[i].Color == 3)? 'red': 'green';
                    names.push(data[i].Group_Name);
                }

                console.log(group_name);

                var uniqueNames = [];

                //----这方法真尼玛脏----
                $.each(names, function(i, el){
                    if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
                });
                //--------------------




                // set the group name input
                $("#groupnameinput").jqxInput({
                    placeHolder: "Enter a GroupName",
                    height: 25,
                    width: 200,
                    minLength: 1,
                    source: uniqueNames,
                    theme:'energyblue'
                });

                var source =
                {
                    localdata: data,
                    datatype: "array",
                    datafield: [
                        { name: 'Cost' },
                        { name: 'Date_Val' },
                        { name: 'Mandate' },
                        { name: 'Project_Name' },
                        { name: 'Group_Name' }

                    ]
                };

                //console.log(source);
                /*
                 var dataAdapter = new $.jqx.dataAdapter(source, {
                 loadComplete: function (data) { },
                 loadError: function (xhr, status, error) { }
                 });
                 */
                //console.log(dataAdapter);



                var initrowdetails = function (index, parentElement, gridElement, datarecord) {
                    var details = $($(parentElement).children()[0]);
                    details.html("Project Description: " + datarecord.Project_Info);

                };



                var cellsrenderermandate = function (row, columnfield, value, defaulthtml, columnproperties) {

                    //console.log(columnproperties);

                    return '<span style="width: 100%; height:100%; background-color: red; float: right;">' + value + '</span>';

                };

                var cellsrenderermandatecolor = function (row, columnfield, value, defaulthtml, columnproperties) {

                    //console.log(columnproperties);
                    if (value == 'red') return '<span style="width: 100%; height:100%; background-color: red; float: right;">' +value+ '</span>';
                    if (value == 'blue') return '<span style="width: 100%; height:100%; background-color: blue; float: right;">' +value+ '</span>';
                    if (value == 'green') return '<span style="width: 100%; height:100%; background-color: green; float: right;">' +value+ '</span>';

                };


/*
                var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {
                    console.log(columnproperties);
                    if (value == '√') return '<span style="width: 100%; height:100%; background-color: red; float: right;">' + value +  '</span>';
                };
*/


                    //console.log(dataAdapter);
                $.get('/isAuthenticated', function(data) {
                    console.log(data);
                    var edited = false;
                    if (data == 'authenticated') {
                        $("#deleterowbutton").jqxButton({disabled: false});
                        $("#createrowbutton").jqxButton({disabled: false});
                        $("#logoutbutton").text('logout');
                        edited = true;
                    } else {
                        $("#deleterowbutton").jqxButton({disabled: true});
                        $("#createrowbutton").jqxButton({disabled: true});
                        $("#logoutbutton").text('login');
                    }

                    $.get('/getweight', function(data) {
                        console.log(data);
                        var weight = JSON.parse(data);

                        $('#costselect').val(weight.Cost);
                        $('#dateselect').val(weight.Date);
                        $('#mandateselect').val(weight.Mandate);
                        $('#loeselect').val(weight.LOE);
                    });





                    $("#jqxgrid").jqxGrid(
                            {
                                width: "100%",
                                source: source,
                                columns: [
                                    { text: 'Group Name', datafield: 'Group_Name', width: 100, cellsalign: 'center' },
                                    { text: 'Project Name', datafield: 'Project_Name', width: 90, cellsalign: 'center', cellsformat: 'c2' },
                                    { text: 'Cost', columntype: 'NumberInput', datafield: 'Cost', width: 100 },
                                    { text: 'Date', columntype: 'datetimeinput', cellsformat : 'yyyy-MM-dd', datafield: 'Date_Val', width: 100 },
                                    //{ text: 'Date', datafield: 'Date', width: 100 },
                                    { text: 'Mandate', columntype: 'dropdownlist', datafield: 'Mandate', width:60, cellsalign: "center",
                                        initeditor: function (row, cellvalue, editor) {
                                            var source = ['0', '1', '2', '3', '4'];
                                            editor.jqxDropDownList({
                                                source: source,
                                                theme: 'energyblue',
                                                width: '200px',
                                                height: '25px'
                                            });
                                    }},
                                    { text: 'LOE', columntype: 'dropdownlist', datafield: 'LOE', width:60, cellsalign: "center",
                                        initeditor: function (row, cellvalue, editor) {
                                            var source = ['0', '1', '2', '3', '4'];
                                            editor.jqxDropDownList({
                                                source: source,
                                                theme: 'energyblue',
                                                width: '200px',
                                                height: '25px'
                                            });
                                        }},
                                    { text: 'IOS', columntype: 'dropdownlist', datafield: 'IOS_val', width: 80, cellsalign: 'right' },
                                    { text: 'Android', columntype: 'dropdownlist', datafield: 'Android_val', width: 80, cellsalign: 'right' },
                                    { text: 'Server', columntype: 'dropdownlist', datafield: 'Server_val', width: 80, cellsalign: 'right' },
                                    { text: 'Grade', datafield: 'Grade', width: 80, cellsalign: 'right', editable: false},
                                    { text: 'Color', columntype: 'dropdownlist', datafield: 'Color_val', width: 80, cellsrenderer: cellsrenderermandatecolor,
                                        initeditor: function (row, cellvalue, editor) {
                                            var source = ["blue", "red", "green"];
                                            editor.jqxDropDownList({
                                                source: source,
                                                theme: 'energyblue',
                                                width: '200px',
                                                height: '25px'
                                            });
                                        }}
                                ],
                                sortable: true,
                                editable: edited,
                                editmode: 'dblclick',
    /*
                                rowdetails: true,
                                rowdetailstemplate: {
                                    rowdetails: "<div style='margin: 10px;'>Row Details</div>",
                                    rowdetailsheight: 50
                                },
                                initrowdetails: initrowdetails
                                */

                            });});

            });


            $("#updaterowbutton").jqxButton({
                theme: 'energyblue',
                height: 30,
                disabled: true
            });

            $("#deleterowbutton").jqxButton({
                theme: 'energyblue',
                height: 30
            });
            $("#createrowbutton").jqxButton({
                theme: 'energyblue',
                height: 30
            });

            $("#submitrowbutton").jqxButton({
                theme: 'energyblue',
                height: 30
            });

            $("#submitcomment").jqxButton({
                theme: 'energyblue',
                height: 30
            });
/*
            $("#logoutbutton").jqxButton({
                theme: 'energyblue',
                height: 30
            });
*/
            //var isEdited = false;

            $("#logoutbutton").on('click', function() {
                console.log($(this).text());
                //if ($(this).)
                if ($(this).text() == 'login') {
                    console.log('go to');
                    window.location.href="/login";
                }
                else {
                    $.get('/logout', function (data) {
                        location.reload();
                    });
                }
            });

            $("#jqxgrid").on('cellendedit', function (event) {
                console.log(event);
                var args = event.args;
                if (String(args.oldvalue) != args.value) {
                    $("#updaterowbutton").jqxButton({disabled: false});
                }

            });

            $("#deleterowbutton").on('click', function () {
                var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');

                var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;

                if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                    var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                    var data = $('#jqxgrid').jqxGrid('getrowdata', id);
                    console.log(data);
                    $.post("http://localhost:8017/update", { id: data.Id, action: "remove"});
                    var commit = $("#jqxgrid").jqxGrid('deleterow', id);
                }
            });

            $("#updaterowbutton").on('click', function() {
                var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;
                //console.log(rowscount);
                if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                    var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                    var data = $('#jqxgrid').jqxGrid('getrowdata', id);
                    data.Color = (data.Color_val == 'blue')? 2 : (data.Color_val == 'red')? 3 : 1;

                    data.IOS = (data.IOS_val == '√')? '1' : '0';
                    data.Android = (data.Android_val == '√')? '1' : '0';
                    data.Server = (data.Server_val == '√')? '1' : '0';
                    console.log(data);

                    $.post("/update", { action: "edit", data: data, id: data.Id });
                    //var commit = $("#jqxgrid").jqxGrid('deleterow', id);
                }
            });

            $("#submitrowbutton").on('click', function() {

                var data = {};
                data.Group_Name = $("#groupnameinput").jqxInput('val');
                console.log(typeof data.Group_Name);
                data.Project_Name = $("#projectnameinput").jqxInput('val');
                data.Cost = $("#costinput").jqxDropDownList('getSelectedItem').label;
                data.Date = $("#dateinput").jqxDateTimeInput('getDate').yyyymmdd();
                //console.log(data.Date);
                data.Mandate = $("#mandateinput").jqxDropDownList('getSelectedItem').label;
                data.LOE = $("#loeinput").jqxDropDownList('getSelectedItem').label;
                data.IOS = ($("#iosinput").jqxDropDownList('getSelectedItem').label == '√')? '1': '0';
                //console.log($("#iosinput").jqxDropDownList('getSelectedItem').label);
                data.Android = ($("#androidinput").jqxDropDownList('getSelectedItem').label == '√')? '1': '0';
                data.Server = ($("#serverinput").jqxDropDownList('getSelectedItem') == '√').label? '1': '0';
                data.Project_Info = $("#projectinfoinput").jqxInput('val');

                console.log(data);
                $.post("/update", { action: "create", data: data});
            });

            $("#createrowbutton").on('click', function() {
                $("#createforms").show();
                $("#comment").hide()
            });


            $('#weightbutton').on('click', function() {

                $.post('/refresh', {
                    Cost: $('#costselect').val(),
                    Date: $('#dateselect').val(),
                    Mandate: $('#mandateselect').val(),
                    LOE: $('#loeselect').val()
                }).done(function (data) {
                    $.get('/getweight', function(data) {
                        console.log(data);
                        var weight = JSON.parse(data);

                        $('#costselect').val(weight.Cost);
                        $('#dateselect').val(weight.Date);
                        $('#mandateselect').val(weight.Mandate);
                        $('#loeselect').val(weight.LOE);
                    });
                });

            });


            $("#submitcomment").on('click', function() {
                var data = {};
                //console.log($(this));
                //-----------use the .data method to get the custom attribute---
                console.log($(this).data('projid'));
                //--------------------------------------------------------------

                data.Project_Id = $(this).data('projid');
                data.Commenter = $("#commenterinput").jqxInput('val');
                data.Comment = $("#commentinput").jqxInput('val');
                $.post("/postcomment", data, function(data){
                    data = JSON.parse(data);
                    $("#project_comment").append('<li>' + data.Commenter + ': ' + data.Comment + '</li>');
                });
            });


            $('#jqxgrid').on('rowselect', function (event) {
                console.log(event);
                var args = event.args;
                $("#createforms").hide();
                $("#comment").show();
                $("#project_description").text('Project info:');
                $("#project_description").append('<li>' + args.row.Project_Info + '</li>');
                var project_id = args.row.Id;
                //--------set the custom attribute----------------
                $("#submitcomment").attr("data-projid", project_id);
                //------------------------------------------------
                $.get("/comment", { project_id: project_id }).done(function( data ) {
                    $("#project_comment").empty();
                    $("#project_comment").text("Comment");
                    for (var i = 0; i < data.length; ++i) {
                        $("#project_comment").append('<li>' + data[i].Commenter + ': ' + data[i].Comment + '</li>');
                        //comment += data[i].Commenter + ': ' + data[i].Comment + '\n';
                    }
                    //$("#project_comment").text(comment);
                });
            });

            //the form jquery things

            $("#projectnameinput").jqxInput({
                    placeHolder: "Enter a Project Name",
                    height: 25,
                    width: 200,
                    minLength: 1,
                    theme: 'energyblue'
                }
            );

            var gradeSource = [1, 2, 3, 4, 5];
            $("#costinput").jqxDropDownList({
                source: gradeSource,
                theme: 'energyblue',
                width: '200px',
                height: '25px'
            });

            $("#dateinput").jqxDateTimeInput({
                width: '250px',
                height: '25px',
                theme: 'energyblue',
                value: new Date()
            });

            $("#mandateinput").jqxDropDownList({
                placeHolder: "Choose the Mandate",
                source: gradeSource,
                theme: 'energyblue',
                width: '200px',
                height: '25px'
            });

            $("#loeinput").jqxDropDownList({
                placeHolder: "Choose the LOE",
                source: gradeSource,
                theme: 'energyblue',
                width: '200px',
                height: '25px'
            });

            var source = ['Yes', 'No'];

            $("#iosinput").jqxDropDownList({
                placeHolder: "Need IOS?",
                source: source,
                theme: 'energyblue',
                width: '100px',
                height: '25px'
            });

            $("#androidinput").jqxDropDownList({
                placeHolder: "Need Android?",
                source: source,
                theme: 'energyblue',
                width: '100px',
                height: '25px'
            });

            $("#serverinput").jqxDropDownList({
                placeHolder: "Need Server?",
                source: source,
                theme: 'energyblue',
                width: '100px',
                height: '25px'
            });

            $("#projectinfoinput").jqxInput({
                        placeHolder: "Enter a Project Description",
                        height: 75,
                        width: 400,
                        minLength: 1,
                        theme: 'energyblue'
                    }
            );

            // comment input

            $("#commenterinput").jqxInput({
                placeHolder: "Enter your Name",
                height: 25,
                width: 200,
                minLength: 1,
                theme: 'energyblue'
            });

            $("#commentinput").jqxInput({
                placeHolder: "Enter your comment",
                height: 75,
                width: 400,
                minLength: 1,
                theme: 'energyblue'
            });



            // helper function

            Date.prototype.yyyymmdd = function() {
                var yyyy = this.getFullYear().toString();
                var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
                var dd  = this.getDate().toString();
                return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]); // padding
            };

        });
    </script>
</head>
<body class='default'>
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="has-form">
            <a class="button" id="logoutbutton">logout</a>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
</nav>
<div class="row">
    <br>
    <div class="large-10 columns">

        <!--

        <div style="margin-top: 10px;">
            <input id="logoutbutton" type="button" value="Logout" />
        </div> -->


        <div class="row">
            <div class="large-2 columns">
                <label> Cost
                    <select id="costselect">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </label>
            </div>
            <div class="large-2 columns">
                <label> Date
                    <select id="dateselect">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </label>
            </div>
            <div class="large-2 columns">
                <label> Mandate
                    <select id="mandateselect">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </label>
            </div>
            <div class="large-2 columns">
                <label> LOE
                    <select id="loeselect">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </label>
            </div>
            <div class="large-2 columns">
                <a class="button" id="weightbutton">Submit Weight</a>
            </div>

        </div>
        <div class="row">
            <div id="jqxgrid"></div>
        </div>

        <div style="margin-top: 10px;">
            <input id="updaterowbutton" type="button" value="Update Selected Row" />
        </div>


        <div style="margin-top: 10px;">
            <input id="deleterowbutton" type="button" value="Delete Selected Row" />
        </div>

        <div style="margin-top: 10px;">
            <input id="createrowbutton" type="button" value="Create a Row" />
        </div>






    </div>
    <div class="large-2 columns">

        <div id="createforms" hidden>
            <br>
            <input type="text" name="Group_Name" id="groupnameinput" />
            <input type="text" name="Project_Name" id="projectnameinput"/>
            <div id="costinput"></div>
            <div id="dateinput"></div>
            <div id="mandateinput"></div>
            <div id="loeinput"></div>
            <div id="iosinput"></div>
            <div id="androidinput"></div>
            <div id="serverinput"></div>
            <input type="text" name="Project_Info" id="projectinfoinput">
            <div style="margin-top: 10px;">
                <input id="submitrowbutton" type="button" value="Submit the new Project" />
            </div>
        </div>

        <div id="comment" hidden>
            <div class="row">
                <p id="project_description">
                </p>
            </div>

            <div class="row">
                <p id="project_comment">
                </p>

            </div>

            <input type="text" name="Group_Name" id="commenterinput" />
            <input type="text" name="Project_Name" id="commentinput"/>
            <div style="margin-top: 10px;">
                <input id="submitcomment" type="button" value="Submit the Comment" />
            </div>



        </div>
    </div>
</div>




</body>
</html>