<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>This example shows how to create a Grid from Array data.</title>
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.energyblue.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foundation.css"/>
    <script type="text/javascript" src="/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxInput.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxnumberinput.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            Date.prototype.yyyymmdd = function() {
                var yyyy = this.getFullYear().toString();
                var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
                var dd  = this.getDate().toString();
                return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]); // padding
            };

            var today = new Date();
            $('#dateinput').val(today.yyyymmdd());

            $.get("/index?action=queryProjects", function(data) {


                //console.log(data);
                var names = [];
                var len = data.length;
                var group_name = new Set();
                for (var i = 0; i < len; ++i) {
                    data[i].Date_Val = new Date(data[i].Date);
                    data[i].IOS_val = (data[i].IOS == '1')? '√': '×';
                    data[i].Android_val = (data[i].Android == '1')? '√': '×';
                    data[i].Server_val = (data[i].Server == '1')? '√': '×';
                    data[i].Color_val = (data[i].Color == 2)? 'blue':(data[i].Color == 3)? 'red': 'green';
                    names.push(data[i].Group_Name);
                }

                console.log(group_name);

                var uniqueNames = [];

                //----这方法真尼玛脏----
                $.each(names, function(i, el){
                    if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
                });
                //--------------------








                var cellsrenderermandatecolor = function (row, columnfield, value, defaulthtml, columnproperties) {

                    //console.log(columnproperties);
                    if (value == 'red') return '<span style="width: 100%; height:100%; background-color: red; float: right;">' +value+ '</span>';
                    if (value == 'blue') return '<span style="width: 100%; height:100%; background-color: blue; float: right;">' +value+ '</span>';
                    if (value == 'green') return '<span style="width: 100%; height:100%; background-color: green; float: right;">' +value+ '</span>';

                };




                    //console.log(dataAdapter);
                $.get('/isAuthenticated', function(data_i) {
                    console.log(data_i);
                    var edited = false;
                    if (data_i == 'authenticated') {
                        $("#deleterowbutton").attr('disabled', false);
                        $("#createrowbutton").attr('disabled', false);
                        $("#logoutbutton").text('logout');
                        edited = true;
                    } else {
                        $("#deleterowbutton").attr('disabled', true);
                        $("#createrowbutton").attr('disabled', true);
                        $("#logoutbutton").text('login');
                    }

                    $.get('/getweight', function(data_i) {
                        //console.log(data);
                        var weight = JSON.parse(data_i);

                        $('#costselect').val(weight.Cost);
                        $('#dateselect').val(weight.Date);
                        $('#mandateselect').val(weight.Mandate);
                        $('#loeselect').val(weight.LOE);
                    });



                    $("#deleterowbutton").on('click', function () {
                        var disabled = $(this).attr('disabled');
                        if (!disabled) {
                            var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                            var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;
                            if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                                var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                                var data = $('#jqxgrid').jqxGrid('getrowdata', id);
                                console.log(data);
                                $.post("http://localhost:8017/update", {id: data.Id, action: "remove"}).done(function(dat) {
                                    alert("project " + data.Project_Name + " deleted");
                                    location.reload();
                                });

                            }
                        }
                    });


                    //console.log(data);
                    function refresh(data){
                        var source =
                        {
                            localdata: data,
                            datatype: "array",
                            datafield: [
                                { name: 'Cost' },
                                { name: 'Date_Val' },
                                { name: 'Mandate' },
                                { name: 'Project_Name' },
                                { name: 'Group_Name' }

                            ]
                        };



                        $("#jqxgrid").jqxGrid(
                                {
                                    width: "100%",
                                    source: source,
                                    columns: [
                                        { text: 'Color', columntype: 'dropdownlist', datafield: 'Color_val', cellsalign: "center", width: 80, cellsrenderer: cellsrenderermandatecolor,
                                            initeditor: function (row, cellvalue, editor) {
                                                var source = ["blue", "red", "green"];
                                                editor.jqxDropDownList({
                                                    source: source,
                                                    theme: 'energyblue',
                                                    width: '80px',
                                                    height: '25px'
                                                });
                                            }},
                                        { text: 'Group Name', datafield: 'Group_Name', width: 120, cellsalign: 'center' },
                                        { text: 'Project Name', datafield: 'Project_Name', width: 120, cellsalign: 'center' },
                                        { text: 'Cost', columntype: 'NumberInput', datafield: 'Cost', cellsalign: "center", width: 100 },
                                        { text: 'Date', columntype: 'datetimeinput', cellsformat : 'yyyy-MM-dd', datafield: 'Date_Val', width: 100 },
                                        //{ text: 'Date', datafield: 'Date', width: 100 },
                                        { text: 'Mandate', columntype: 'dropdownlist', datafield: 'Mandate', width:80, cellsalign: "center",
                                            initeditor: function (row, cellvalue, editor) {
                                                var source = ['0', '1', '2', '3', '4'];
                                                editor.jqxDropDownList({
                                                    source: source,
                                                    theme: 'energyblue',
                                                    width: '80px',
                                                    height: '25px'
                                                });
                                        }},
                                        { text: 'LOE', columntype: 'dropdownlist', datafield: 'LOE', width:80, cellsalign: "center",
                                            initeditor: function (row, cellvalue, editor) {
                                                var source = ['0', '1', '2', '3', '4'];
                                                editor.jqxDropDownList({
                                                    source: source,
                                                    theme: 'energyblue',
                                                    width: '80px',
                                                    height: '25px'
                                                });
                                            }},
                                        { text: 'IOS', columntype: 'dropdownlist', datafield: 'IOS_val', width: 80, cellsalign: 'center',
                                            initeditor: function (row, cellvalue, editor) {
                                                var source = ['√', '×'];
                                                editor.jqxDropDownList({
                                                    source: source,
                                                    theme: 'energyblue',
                                                    width: '80px',
                                                    height: '25px'
                                                });
                                            }},
                                        { text: 'Android', columntype: 'dropdownlist', datafield: 'Android_val', width: 80, cellsalign: 'center',
                                            initeditor: function (row, cellvalue, editor) {
                                                var source = ['√', '×'];
                                                editor.jqxDropDownList({
                                                    source: source,
                                                    theme: 'energyblue',
                                                    width: '80px',
                                                    height: '25px'
                                                });
                                            }},
                                        { text: 'Server', columntype: 'dropdownlist', datafield: 'Server_val', width: 80, cellsalign: 'center',
                                            initeditor: function (row, cellvalue, editor) {
                                                var source = ['√', '×'];
                                                editor.jqxDropDownList({
                                                    source: source,
                                                    theme: 'energyblue',
                                                    width: '80px',
                                                    height: '25px'
                                                });
                                            }},
                                        { text: 'Grade', datafield: 'Grade', width: 80, cellsalign: 'right', cellsalign: 'center', editable: false}

                                    ],
                                    sortable: true,
                                    editable: edited,
                                    editmode: 'dblclick'

                                });}
                    refresh(data);

                });

            });

/*

            $("#submitrowbutton").jqxButton({
                theme: 'energyblue',
                height: 30
            });
*/
            $("#submitcomment").jqxButton({
                theme: 'energyblue',
                height: 30
            });

            $("#logoutbutton").on('click', function() {
                console.log($(this).text());
                //if ($(this).)
                if ($(this).text() == 'login') {
                    console.log('go to');
                    window.location.href="/login";
                }
                else {
                    $.get('/logout', function (data) {
                        location.reload();
                    });
                }
            });

            $("#jqxgrid").on('cellendedit', function (event) {
                console.log(event);
                var args = event.args;
                if (String(args.oldvalue) != args.value) {
                    //$("#updaterowbutton").jqxButton({disabled: false});
                    $("#updaterowbutton").attr('disabled', false);
                }

            });



            $("#updaterowbutton").on('click', function() {
                var disabled = $(this).attr('disabled');

                if (!disabled) {
                    var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                    var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;
                    //console.log(rowscount);
                    if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                        var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                        var data = $('#jqxgrid').jqxGrid('getrowdata', id);
                        data.Color = (data.Color_val == 'blue') ? 2 : (data.Color_val == 'red') ? 3 : 1;

                        data.IOS = (data.IOS_val == '√') ? '1' : '0';
                        data.Android = (data.Android_val == '√') ? '1' : '0';
                        data.Server = (data.Server_val == '√') ? '1' : '0';
                        //console.log(typeof data.Date_Val);
                        //console.log(data.Date_Val.yyyymmdd());
                        data.Date = data.Date_Val.yyyymmdd();
                        console.log(data);

                        $.post("/update", {action: "edit", data: data, id: data.Id}).done(function(data) {
                            var projname = data.Project_Name;
                            alert("Project " + projname + " updated");
                            location.reload();
                        });
                    }
                }
            });

            $("#editrowbutton").on('click', function() {
                $('#createforms').attr('data-iscreate', 0);
                $('#createforms').show();
                $('#submitrowbutton').text('Complete Edit');
                $('#comment').hide();
                var id = $("#editrowbutton").attr('data-projid');
                console.log(id);
                $.get('/getrow', {project_id: id}).done(function(data) {
                    //var dat = JSON.parse(data);
                    console.log(data);
                    $("#groupnameinput").val(data.Group_Name);
                    $("#projectnameinput").val(data.Project_Name);
                    $("#dateinput").val(data.Date.substring(0, 10));
                    $("#costinput").val(data.Cost);
                    $("#mandateinput").val(data.Mandate);
                    $("#loeinput").val(data.LOE);
                    $("#colorinput").val(data.Color);

                    var $radioios = $('input:radio[name=iosradio]');
                    if (data.IOS == '1') $radioios.filter('[value=1]').prop('checked', true);
                    else $radioios.filter('[value=0]').prop('checked', true);

                    var $radioandroid = $('input:radio[name=androidradio]');
                    if (data.Android == '1') $radioandroid.filter('[value=1]').prop('checked', true);
                    else $radioandroid.filter('[value=0]').prop('checked', true);

                    var $radioserver = $('input:radio[name=serverradio]');
                    if (data.Server == '1') $radioserver.filter('[value=1]').prop('checked', true);
                    else $radioserver.filter('[value=0]').prop('checked', true);

                    $("#projectinfoinput").text(data.Project_Info);
                });




            });

            $("#submitrowbutton").on('click', function() {

                var data = {};
                data.Group_Name = $("#groupnameinput").val();
                console.log(typeof data.Group_Name);
                data.Project_Name = $("#projectnameinput").val();
                var cost = parseInt($("#costinput").val());
                data.Cost = parseInt(cost);
                //alert("Hello! I am an alert box!");
                if (isNaN(cost)) return;
                data.Date = $("#dateinput").val();
                data.Mandate = $( "#mandateinput option:selected" ).val();
                data.LOE = $( "#loeinput option:selected" ).val();
                data.IOS = $('input[name=iosradio]:checked').val();
                data.Android = $('input[name=androidradio]:checked').val();
                data.Server = $('input[name=serverradio]:checked').val();
                data.Project_Info = $("#projectinfoinput").val();
                data.Color = $( "#colorinput option:selected" ).val();

                console.log(data);
                var iscreate = $('#createforms').data('iscreate');
                console.log(typeof iscreate);
                console.log(iscreate);
                if ($('#createforms').data('iscreate') == 1) {
                    $.post("/update", {action: "create", data: data}).done(function(data) {
                        alert('Project ' + data.Project_Name + ' has been created');
                        location.reload();
                    });
                } else {
                    console.log(data);
                    var id = $('#editrowbutton').data('projid');
                    $.post("/update", {action: "edit", data: data, id: id}).done(function (data) {
                        alert('Project ' + data.Project_Name + ' has been edited');
                        location.reload();
                    });
                }
            });

            $("#createrowbutton").on('click', function() {
                var disabled = $(this).attr('disabled');
                $('#submitrowbutton').text('Submit Project');
                if (!disabled) {
                    $("#createforms").show();
                    $("#createforms").attr('data-iscreate', 1);
                    $("#comment").hide();
                    $("#groupnameinput").val("");
                    $("#projectnameinput").val("");
                    var today = new Date();
                    $('#dateinput').val(today.yyyymmdd());
                    $("#costinput").val('0');
                    $("#mandateinput").val('0');
                    $("#loeinput").val('0');
                    $("#colorinput").val('1');
                    $('input:radio[name=iosradio]').filter('[value=1]').prop('checked', true);
                    $('input:radio[name=androidradio]').filter('[value=1]').prop('checked', true);
                    $('input:radio[name=serverradio]').filter('[value=1]').prop('checked', true);
                    $("#projectinfoinput").text('');
                }
            });


            $('#weightbutton').on('click', function() {

                $.post('/refresh', {
                    Cost: $('#costselect').val(),
                    Date: $('#dateselect').val(),
                    Mandate: $('#mandateselect').val(),
                    LOE: $('#loeselect').val()
                }).done(function (data) {
                    $.get('/getweight', function(data) {
                        console.log(data);
                        var weight = JSON.parse(data);
                        $('#costselect').val(weight.Cost);
                        $('#dateselect').val(weight.Date);
                        $('#mandateselect').val(weight.Mandate);
                        $('#loeselect').val(weight.LOE);
                        alert("Weight has been updated");
                        location.reload();
                    });
                });
            });


            $("#submitcomment").on('click', function() {
                var data = {};
                //console.log($(this));
                //-----------use the .data method to get the custom attribute---
                //console.log($(this).data('projid'));
                //--------------------------------------------------------------

                data.Project_Id = $(this).attr('data-projid');
                console.log(data.Project_Id);
                data.Commenter = $("#commenterinput").jqxInput('val');
                data.Comment = $("#commentinput").val();
                $.post("/postcomment", data, function(data){
                    data = JSON.parse(data);
                    //$("#project_comment").append('<li>' + data.Commenter + ': ' + data.Comment + '</li>');
                    //$("#post_head").before('<div class="panel">' + data.Commenter + ': ' + data.Comment + '</div>')
                    $('#project_comments').append('<b>' + data.Commenter + '</b>' + ':  ' + data.Comment + '<br><br>' )
                });
            });


            $('#jqxgrid').on('rowselect', function (event) {
                //console.log(event);
                var args = event.args;
                $("#createforms").hide();
                $("#comment").show();
                $("#project_description").text(args.row.Project_Info);
                //console.log($('#jqxgrid').jqxGrid('editable'));
                if ($('#jqxgrid').jqxGrid('editable')) {
                    $('#editrowbutton').attr('disabled', false);
                }
                //$("#project_description").append('<li>' + args.row.Project_Info + '</li>');
                var project_id = args.row.Id;
                console.log(typeof project_id);
                //--------set the custom attribute----------------
                $("#submitcomment").attr("data-projid", project_id);
                $("#editrowbutton").attr("data-projid", project_id);
                //------------------------------------------------


                $.get("/comment", { project_id: project_id }).done(function( data ) {
                    $("#project_comments").empty();
                    //$("#project_comment").text("Comment");
                    //$("#comment_head").nextUntil("h4").remove();
                    for (var i = 0; i < data.length; ++i) {
                        //$("#project_comment").append('<li>' + data[i].Commenter + ': ' + data[i].Comment + '</li>');
                        //comment += data[i].Commenter + ': ' + data[i].Comment + '\n';
                        //$("#comment_head").after('<div class="panel">' + data[i].Commenter + ': ' + data[i].Comment + '</div>');
                        $('#project_comments').append('<b>' + data[i].Commenter + '</b>' + ':  ' + data[i].Comment + '<br><br>' );

                    }
                    //$("#project_comment").text(comment);
                });
            });


            $("#projectinfoinput").jqxInput({
                        placeHolder: "Enter a Project Description",
                        height: 75,
                        width: 400,
                        minLength: 1,
                        theme: 'energyblue'
                    }
            );

            // comment input

            $("#commenterinput").jqxInput({
                placeHolder: "Enter your Name",
                height: 25,
                width: 200,
                minLength: 1,
                theme: 'energyblue'
            });

            // helper function



        });
    </script>
</head>
<body class='default'>
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="has-form">
            <a class="button" id="logoutbutton">logout</a>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
</nav>
<div class="row">
    <br>
    <div class="row">
        Weight value indicate the significance value of different factors
    </div>

    <div class="row">


        <div class="large-2 columns">
            <label> Cost
                <select id="costselect">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </label>
        </div>
        <div class="large-2 columns">
            <label> Date
                <select id="dateselect">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </label>
        </div>
        <div class="large-2 columns">
            <label> Mandate
                <select id="mandateselect">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </label>
        </div>
        <div class="large-2 columns">
            <label> LOE
                <select id="loeselect">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </label>
        </div>
        <div class="large-2 columns">
            <a class="button" id="weightbutton">Submit Weight</a>
        </div>

    </div>
    <div class="row">
        <div id="jqxgrid"></div>
    </div>

    <br>

    <div class="row">


        <div class="large-3 columns">
            <a class="button" disabled id="updaterowbutton" >Update Selected Row</a>
        </div>
        <div class="large-3 columns">
            <a class="button" disabled id="deleterowbutton" >Delete Selected Row</a>
        </div>
        <div class="large-3 columns">
            <a class="button" disabled id="createrowbutton" >    Create a Row   </a>
        </div>
        <div class="large-3 columns">
            <a class="button" disabled id="editrowbutton"   >     Edit a Row    </a>
        </div>
    </div>







    <div class="row">

        <div id="createforms" hidden>
            <br>
            <div class="row">
                <div class="large-6 columns">
                    <label> Group Name
                        <input type="text" name="Group_Name" id="groupnameinput" placeholder="Enter Group Name" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label> Project Name
                        <input type="text" name="Project_Name" id="projectnameinput" placeholder="Enter Project Name"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label> Cost
                        <!--<div id="costinput"><span class="prefix">Label</span></div>-->
                        <input type="number" name="Group_Name" id="costinput" placeholder="Enter Cost" min="0"/>
                    </label>
                </div>
                <div class="large-6 columns">
                    <label> Due Date
                        <input type="date" name="Date" id="dateinput"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label> Choose Mandate
                        <select id="mandateinput">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </label>
                </div>
                <div class="large-6 columns">
                    <label> Choose LOE
                        <select id="loeinput">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <label>Need IOS?</label>
                    <input type="radio" name="iosradio" value="1" checked/> YES
                    <input type="radio" name="iosradio" value="0" /> NO
                </div>
                <div class="large-4 columns">
                    <label>Need Android?</label>
                    <input type="radio" name="androidradio" value="1" checked/> YES
                    <input type="radio" name="androidradio" value="0" /> NO
                </div>
                <div class="large-4 columns">
                    <label>Need IOS?</label>
                    <input type="radio" name="serverradio" value="1" checked/> YES
                    <input type="radio" name="serverradio" value="0" /> NO
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label> Choose Color
                        <select id="colorinput">
                            <option value="1">Green</option>
                            <option value="2">Blue</option>
                            <option value="3">Red</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Project Description
                        <textarea id="projectinfoinput" placeholder="Project Description"></textarea>
                    </label>
                </div>
            </div>

            <div class="row">
                <a class="button" id="submitrowbutton">Submit Project</a>
            </div>

        </div>

        <div id="comment" class="row" hidden>
            <h4>Project Description</h4>
            <div class="panel">
                <p id="project_description">
                </p>
            </div>

            <h4 id="comment_head">Project Comments</h4>
            <div class="panel">
                <p id="project_comments">
                </p>
            </div>

            <h4 id="post_head">Post comment</h4>

            <br>
            <input type="text" name="Group_Name" id="commenterinput" placeholder="Enter Your Name" />
            <br>
            <!--
            <input type="text" max="150" name="Project_Name" id="commentinput" placeholder="Enter Your Comment"/>
            -->
            <textarea id="commentinput" placeholder="Enter Your Comment"></textarea>
            <div style="margin-top: 10px;">
                <input id="submitcomment" type="button" value="Submit the Comment" />
            </div>
        </div>
    </div>
</div>
</body>
</html>