<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>This example shows how to create a Grid from Array data.</title>
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.energyblue.css" type="text/css" />
    <script type="text/javascript" src="/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxInput.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            /*
            // prepare the data
            var data = [];
            //console.log(typeof data);
            var firstNames =
                    [
                        "Andrew", "Nancy", "Shelley", "Regina", "Yoshi", "Antoni", "Mayumi", "Ian", "Peter", "Lars", "Petra", "Martin", "Sven", "Elio", "Beate", "Cheryl", "Michael", "Guylene"
                    ];
            var lastNames =
                    [
                        "Fuller", "Davolio", "Burke", "Murphy", "Nagase", "Saavedra", "Ohno", "Devling", "Wilson", "Peterson", "Winkler", "Bein", "Petersen", "Rossi", "Vileid", "Saylor", "Bjorn", "Nodier"
                    ];
            var productNames =
                    [
                        "Black Tea", "Green Tea", "Caffe Espresso", "Doubleshot Espresso", "Caffe Latte", "White Chocolate Mocha", "Cramel Latte", "Caffe Americano", "Cappuccino", "Espresso Truffle", "Espresso con Panna", "Peppermint Mocha Twist"
                    ];
            var priceValues =
                    [
                        "2.25", "1.5", "3.0", "3.3", "4.5", "3.6", "3.8", "2.5", "5.0", "1.75", "3.25", "4.0"
                    ];
            for (var i = 0; i < 100; i++) {
                var row = {};
                var productindex = Math.floor(Math.random() * productNames.length);
                var price = parseFloat(priceValues[productindex]);
                var quantity = 1 + Math.round(Math.random() * 10);
                row["firstname"] = firstNames[Math.floor(Math.random() * firstNames.length)];
                row["lastname"] = lastNames[Math.floor(Math.random() * lastNames.length)];
                row["productname"] = productNames[productindex];
                row["price"] = price;
                row["quantity"] = quantity;
                row["total"] = price * quantity;
                data[i] = row;
            }
            */
            //console.log(typeof data);

            $.get("/index?action=queryProjects", function(data) {


                //console.log(data);
                var names = [];
                var len = data.length;
                var group_name = new Set();
                for (var i = 0; i < len; ++i) {
                    data[i].Date_Val = new Date(data[i].Date);
                    data[i].IOS_val = (data[i].IOS == '1')? '√': '×';
                    data[i].Android_val = (data[i].Android == '1')? '√': '×';
                    data[i].Server_val = (data[i].Server == '1')? '√': '×';
                    names.push(data[i].Group_Name);
                }

                console.log(group_name);

                var uniqueNames = [];

                //----这方法真尼玛脏----
                $.each(names, function(i, el){
                    if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
                });
                //--------------------




                // set the group name input
                $("#groupnameinput").jqxInput({
                    placeHolder: "Enter a GroupName",
                    height: 25,
                    width: 200,
                    minLength: 1,
                    source: uniqueNames,
                    theme:'energyblue'
                });

                var source =
                {
                    localdata: data,
                    datatype: "array",
                    datafield: [
                        { name: 'Cost' },
                        { name: 'Date_Val' },
                        { name: 'Mandate' },
                        { name: 'Project_Name' },
                        { name: 'Group_Name' }

                    ]
                };

                //console.log(source);
                /*
                 var dataAdapter = new $.jqx.dataAdapter(source, {
                 loadComplete: function (data) { },
                 loadError: function (xhr, status, error) { }
                 });
                 */
                //console.log(dataAdapter);



                var initrowdetails = function (index, parentElement, gridElement, datarecord) {
                    var details = $($(parentElement).children()[0]);
                    details.html("Project Description: " + datarecord.Project_Info);

                };



                var cellsrenderermandate = function (row, columnfield, value, defaulthtml, columnproperties) {

                    //console.log(columnproperties);

                    return '<span style="width: 100%; height:100%; background-color: red; float: right;">' +value+ '</span>';

                };
/*
                var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {
                    console.log(columnproperties);
                    if (value == '√') return '<span style="width: 100%; height:100%; background-color: red; float: right;">' + value +  '</span>';
                };
*/


                    //console.log(dataAdapter);
                $("#jqxgrid").jqxGrid(
                        {
                            source: source,
                            columns: [
                                { text: 'Cost', columntype: 'NumberInput', datafield: 'Cost', width: 100 },
                                { text: 'Date', columntype: 'datetimeinput', cellsformat : 'yyyy-MM-dd', datafield: 'Date_Val', width: 100 },
                                //{ text: 'Date', datafield: 'Date', width: 100 },
                                { text: 'Mandate', columntype: 'dropdownlist', datafield: 'Mandate', width: 180, cellsrenderer: cellsrenderermandate },
                                { text: 'Group Name', datafield: 'Group_Name', width: 80, cellsalign: 'right' },
                                { text: 'Project Name', datafield: 'Project_Name', width: 90, cellsalign: 'right', cellsformat: 'c2' },
                                { text: 'IOS', columntype: 'dropdownlist', datafield: 'IOS_val', width: 80, cellsalign: 'right' },
                                { text: 'Android', columntype: 'dropdownlist', datafield: 'Android_val', width: 80, cellsalign: 'right' },
                                { text: 'Server', columntype: 'dropdownlist', datafield: 'Server_val', width: 80, cellsalign: 'right' }
                            ],
                            sortable: true,
                            editable: true,
                            editmode: 'dblclick',

                            rowdetails: true,
                            rowdetailstemplate: {
                                rowdetails: "<div style='margin: 10px;'>Row Details</div>",
                                rowdetailsheight: 50
                            },
                            initrowdetails: initrowdetails

                        });

            });


            $("#updaterowbutton").jqxButton({
                theme: 'energyblue',
                height: 30,
                disabled: true
            });

            $("#deleterowbutton").jqxButton({
                theme: 'energyblue',
                height: 30
            });
            $("#createrowbutton").jqxButton({
                theme: 'energyblue',
                height: 30
            });

            //var isEdited = false;

            $("#jqxgrid").on('cellendedit', function (event) {
                console.log(event);
                var args = event.args;
                if (String(args.oldvalue) != args.value) {
                    $("#updaterowbutton").jqxButton({disabled: false});
                }

            });

            //$('#jqxGrid').on('rowclick', function () {});



            $("#deleterowbutton").on('click', function () {
                var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');

                var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;

                if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                    var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                    var data = $('#jqxgrid').jqxGrid('getrowdata', id);
                    console.log(data);
                    $.post("http://localhost:8017/update", { id: data.Id, action: "remove"});
                    var commit = $("#jqxgrid").jqxGrid('deleterow', id);
                }
            });

            $("#updaterowbutton").on('click', function() {
                var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;
                //console.log(rowscount);
                if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
                    var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                    var data = $('#jqxgrid').jqxGrid('getrowdata', id);
                    console.log(data);

                    $.post("/update", { action: "edit", data: data, id: data.Id });
                    //var commit = $("#jqxgrid").jqxGrid('deleterow', id);
                }
            });

            $("#createrowbutton").on('click', function() {

                var data = {};
                data.Group_Name = $("#groupnameinput").jqxInput('val');
                console.log(typeof data.Group_Name);
                data.Project_Name = $("#projectnameinput").jqxInput('val');
                data.Cost = $("#costinput").jqxDropDownList('getSelectedItem').label;
                data.Date = $("#dateinput").jqxDateTimeInput('getDate').yyyymmdd();
                //console.log(data.Date);
                data.Mandate = $("#mandateinput").jqxDropDownList('getSelectedItem').label;
                data.LOE = $("#loeinput").jqxDropDownList('getSelectedItem').label;
                data.IOS = ($("#iosinput").jqxDropDownList('getSelectedItem').label == '√')? '1': '0';
                data.Android = ($("#androidinput").jqxDropDownList('getSelectedItem').label == '√')? '1': '0';
                data.Server = ($("#serverinput").jqxDropDownList('getSelectedItem') == '√').label? '1': '0';
                data.Project_Info = $("#projectinfoinput").jqxInput('val');

                console.log(data);
                $.post("/update", { action: "create", data: data});



            });


            //the form jquery things

            $("#projectnameinput").jqxInput({
                    placeHolder: "Enter a Project Name",
                    height: 25,
                    width: 200,
                    minLength: 1,
                    theme: 'energyblue'
                }
            );

            var gradeSource = [1, 2, 3, 4, 5];
            $("#costinput").jqxDropDownList({
                source: gradeSource,
                theme: 'energyblue',
                width: '200px',
                height: '25px'
            });

            $("#dateinput").jqxDateTimeInput({
                width: '250px',
                height: '25px',
                theme: 'energyblue',
                value: new Date()
            });

            $("#mandateinput").jqxDropDownList({
                placeHolder: "Choose the Mandate",
                source: gradeSource,
                theme: 'energyblue',
                width: '200px',
                height: '25px'
            });

            $("#loeinput").jqxDropDownList({
                placeHolder: "Choose the LOE",
                source: gradeSource,
                theme: 'energyblue',
                width: '200px',
                height: '25px'
            });

            var source = ['Yes', 'No'];

            $("#iosinput").jqxDropDownList({
                placeHolder: "Need IOS?",
                source: source,
                theme: 'energyblue',
                width: '100px',
                height: '25px'
            });

            $("#androidinput").jqxDropDownList({
                placeHolder: "Need Android?",
                source: source,
                theme: 'energyblue',
                width: '100px',
                height: '25px'
            });

            $("#serverinput").jqxDropDownList({
                placeHolder: "Need Server?",
                source: source,
                theme: 'energyblue',
                width: '100px',
                height: '25px'
            });

            $("#projectinfoinput").jqxInput({
                        placeHolder: "Enter a Project Description",
                        height: 75,
                        width: 400,
                        minLength: 1,
                        theme: 'energyblue'
                    }
            );

            // helper function

            Date.prototype.yyyymmdd = function() {
                var yyyy = this.getFullYear().toString();
                var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
                var dd  = this.getDate().toString();
                return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]); // padding
            };

        });
    </script>
</head>
<body class='default'>
<div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
    <div id="jqxgrid"></div>
</div>

<div style="margin-top: 10px;">
    <input id="updaterowbutton" type="button" value="Update Selected Row" />
</div>


<div style="margin-top: 10px;">
    <input id="deleterowbutton" type="button" value="Delete Selected Row" />
</div>

<form action="/update?action=create">


    <input type="text" name="Group_Name" id="groupnameinput" />
    <br>
    <input type="text" name="Project_Name" id="projectnameinput"/>
    <div id="costinput"></div>
    <div id="dateinput"></div>
    <div id="mandateinput"></div>
    <div id="loeinput"></div>
    <div id="iosinput"></div>
    <div id="androidinput"></div>
    <div id="serverinput"></div>
    <input type="text" name="Project_Info" id="projectinfoinput">


</form>


<div style="margin-top: 10px;">
    <input id="createrowbutton" type="button" value="Create Selected Row" />
</div>





</body>
</html>