<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->

    <!--<script src="/js/jquery.dynatable.js"></script> -->
    <!--<link rel="stylesheet" type="text/css" href="jquery.dynatable.css" />
    -->
    <!-- DataTables CSS -->


    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/js/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/js/dataTables.editor.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.tableTools.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.editor.css">


    <script>
        var editor;
        $(document).ready( function () {
            editor = new $.fn.dataTable.Editor( {
                "ajax": "/update",
                "table": "#projects",
                "idSrc": "Id",
                "fields": [ {
                    "label": "Group Name:",
                    "name": "Group_Name"
                }, {
                    "label": "Project Name:",
                    "name": "Project_Name"
                }, {
                    "label": "Cost:",
                    "name": "Cost"
                }, {
                    "label": "Mandate:",
                    "name": "Mandate"
                }, {
                    "label": "Date:",
                    "name": "Date"
                }
                ]
            } );

            $('#projects').on( 'click', 'tbody td:not(:first-child)', function (e) {
                editor.bubble( this );
            } );


            $('#projects').DataTable( {
                dom: "Tfrtip",
                scrollY: 300,
                paging: false,
                ajax: "/index?action=queryProjects",
                columns: [
                    { data: "Group_Name" },
                    { data: "Project_Name" },
                    { data: "Cost" },
                    { data: "Mandate" },
                    { data: "Date" }

                ],
                order: [ 1, 'asc' ],
                tableTools: {
                    sRowSelect: "os",
                    sRowSelector: 'td:first-child',
                    aButtons: [
                        { sExtends: "editor_create", editor: editor },
                        { sExtends: "editor_edit",   editor: editor },
                        { sExtends: "editor_remove", editor: editor }
                    ]
                }
            } );

        } );
    </script>

</head>
<body>



<br>
<br>


<table style="width:80%">

        <tr>
            <td>
                Weight Set Up
            </td>

        <form action="/refresh" method="post">
            <td>
            Cost:
                <select name="Cost">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                </select>
            </td>
            <td>
                Mandate:
                <select name="Mandate">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                </select>
            </td>
            <td>
                Date:
                <select name="Date">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                </select>
            </td>
            <td>
                <input type="submit" value="set">
            </td>
        </form>
        </tr>

        <tr>
            <td> Current Weights </td>
            <td><%= weight.Cost %></td>
            <td><%= weight.Mandate %></td>
            <td><%= weight.Date %></td>

        </tr>
</table>
<br><br>

<table style="width:80%">


        <form action="/update" method="post" id="project_form">
        <tr>
            <td>
                Group: <input type="number", name="Group" required>
            </td>
            <td>
                Project Name: <input type="text" name="ProjectName" required>
            </td>
            <td>
                Cost:
                <input type="number" name="Cost">
            </td>
            <td>
                Mandate:
                <select name="Mandate">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
            </td>


            <td>
                Date:
                <input type="date" name="Date">
            </td>
            <td>
                <input type="submit">
            </td>
    </form>
    </tr>

    <br>
    <br>
</table>


<table id="projects">
    <thead>
        <tr>
            <th>Group</th>
            <th>Project Name</th>
            <th>Cost</th>
            <th>Mandate</th>
            <th>Date</th>
        </tr>
    </thead>
    <!--

    <%# for (var i = 0; i < rows.length; ++i) { %>
    <tr>
        <td> <p id="<%#=rows[i].ID%>"><#%= rows[i].GROUP %></p></td>
        <td> <%#= rows[i].PROJECT_NAME %> </td>
        <td> <%#= rows[i].COST %> </td>
        <td> <%#= rows[i].MANDATE %> </td>
        <td> <%#= rows[i].DATE %> </td>

        <td>
        <form action="/del" method="get">
            <button name="ProjectName" type="submit" value="<%#= rows[i].PROJECT_NAME %>"> delete </button>
        </form>
        </td>
    </tr>

    <%# } %>
    -->

</table>


<br>
</body>
</html>